<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.xt1.test"
        versionCode="10" 
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>XT1 PhoneGap Test</name>

    <description>
        Testing Phonegap
    </description>

    <author href="http://www.xt1.org" email="support@xt1.org">
        Christian Mogensen
    </author>
      
    <icon src="icon.png" width="256" height="256" />
    <gap:splash src="splash.png" />



    <feature name="http://api.phonegap.com/1.0/device"/>
    <feature name="http://api.phonegap.com/1.0/file"/>


    <access origin="http://www.xt1.org" subdomains="true" />

</widget>
